body {
  height: 600px;
  background: black;
  background: url("https://klau.club/uploads/posts/2023-06/thumbs/1686136710_klau-club-p-zimnii-les-nochyu-krasivo-66.jpg")center center/cover no-repeat;
}